<html>
<head>
  <script src="angular-1.0.7/angular.js"></script>
   <script type="text/javascript">
      // var HelloCtrl = function($scope){
     	// $scope.getName = function(){
     	// 	return $scope.name;
     	// }	
      // }
      // var WorldCtrl = function($scope){
      //   $scope.population = 7000;
      //   $scope.countries = [
      //     {name:'France',population:63.1},
      //     {name:'UK',population:61.1},
      //   ];
      // $scope.worldsPercentage = function(countryPopulation){
      //   return (countryPopulation / $scope.population)*100;
      // };
      // }
      // 作用域
      var helloCtrl = function($scope){}
  </script>
</head>
<body ng-app ng-init="thing = {name:'world'}">
	
     <!--<div ng-controller="HelloCtrl">
     say hello to:<input type = "text" ng-model="name"><br/>
     <h1>hello,{{name}}</h1>-->
     <!--<h1>hello,{{getName()}}</h1>
     </div>-->
    <!--  <ul ng-controller="WorldCtrl">
       <li ng-repeat="country in countries">
          {{country.name}} has population of {{country.population}},
          {{worldsPercentage(country.population)}} % of the world's population
       </li>
       <hr>
       world's poopulation:{{population}} million
     </ul> -->
     <h1>hello,{{thing.name}}</h1>
     <div ng-controller="helloCtrl">
        say hello to:<input type="text" ng-model="thing.name"/>
        <h2>hello,{{thing.name}}!</h2>
     </div>
</body>
</html>